{% extends 'shared/base.html' %}
  {% block content %}
    <section id="computer-details">
      <h3>{{ computer.make }}</h3>
      <p>Purchase Date: {{ computer.purchase_date }}</p>
      <p>Decommission Date: {{ computer.decomission_date }}</p>
    </section>
    <form action="{% url 'hrapp:computer_details' computer.id %}"
    method="POST">
      {% csrf_token %} 
    <div class="computers">
      <input type="hidden" name="actual_method" value=DELETE>
      <button onclick="return confirm("Are you sure you want to delete this computer from inventory?")">Delete</button> 
    </div>
  {% endblock %}