{% extends 'shared/base.html' %}
  {% block content %}
    <h1>Add a New Computer</h1>


    <form action="{% url 'hrapp:computers' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="make">Make: </label>
          <input id="make" type="text" name="make">
      </fieldset>
      <fieldset>
          <label for="purchase_date">Purchase Date: </label>
          <input id="purchase_date" type="date" name="purchase_date">
      </fieldset>
      <fieldset>
          <label for="decommission_date">Decommission Date: </label>
          <input id="decommission_date" type="date" name="decommission_date">
      </fieldset>
      <fieldset>
          <label for="employees">Employees: </label>
          <select id="employees" type="text" name="employees">
                {% for employee in all_employees %}
                    <option value="{{ employee.id }}">{{ employee.first_name }} {{ employee.last_name }}</option>
                {% endfor %}
          </select>
      </fieldset>
      
          <input type="submit" value="Create" />

      {% comment %} <input type="submit" value="Create" /> {% endcomment %}
    </form>
  {% endblock %}