{% extends 'shared/base.html' %}
  {% block content %}
    <h1>Add a New Computer</h1>


    <form action="{% url 'hrapp:computers' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="make">Make: </label>
          <input id="make" type="text" name="make">
      </fieldset>
      <fieldset>
          <label for="purchase_date">Purchase Date: </label>
          <input id="purchase_date" type="date" name="purchase_date">
      </fieldset>
      <fieldset>
          <label for="decommission_date">Decommission Date: </label>
          <input id="decommission_date" type="date" name="decommission_date">
      </fieldset>
      <input type="submit" value="Create" />
    </form>
  {% endblock %}