{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Training Program</title>
  </head>
  <body>
    <h1></h1>


    <form action="{% url 'hrapp:training_program' %}" method="post">
      {% csrf_token %}
      <fieldset>
          <label for="title">Title: </label>
          <input id="title" type="text" name="title">
      </fieldset>
      <fieldset>
          <label for="description">Description: </label>
          <input id="description" type="text" name="description">
      </fieldset>
      <fieldset>
          <label for="start_date">Start Date: </label>
          <input id="start_date" type="date" name="start_date">
      </fieldset>
      <fieldset>
          <label for="end_date">End Date: </label>
          <input id="end_date" type="date" name="end_date">
      </fieldset>
      <fieldset>
          <label for="capacity">Capacity: </label>
          <select id="capacity" type="number" name="capacity">
                {% for training_program in all_training_programs %}
                    <option value="{{ training_program.id }}">{{ training_program.title }}</option>
                {% endfor %}
          </select>
      </fieldset>

      <input type="submit" value="Add It" />
    </form>
  </body>
</html>