{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Training Programs</title>
  </head>
  <body>
    <h1></h1>

    <ol>
    {% for training_program in all_training_programs%}
        <li>
            {{training_program.title }}
             {{training_program.start_date}} - {{training_program.end_date}}
            {{training_program.capacity}}
        </li>
    {% endfor %}
    </ol>
    <a href="{% url 'hrapp:training_program_form' %}">Add New Training Program</a>
  </body>
</html>